@model List<gestionactivos.Models.PendientesModel>

@{
    ViewData["Title"] = "Pendientes";
    }
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/4.0.1/signature_pad.min.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
<div class="card">
    <div class="card-header">
        Lista de Movimientos
    </div>

    <!-- Mensaje de éxito, fuera del bucle -->
    <div class="alert alert-success mt-3" style="display:none;" id="successMensajeFirmaFunc">Se agregó correctamente la firma de funcionario.</div>

    <div class="card-body">
        <hr />
        <div class="table-responsive">
            <table id="MovimientosTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>idMovimientos</th>
                        <th>Evento</th>
                        <th>Fecha Movimiento</th>
                        <th>Cédula</th>
                        <th>Nombre Completo</th>
                        <th>Placa</th>
                        <th>Serial</th>
                        <th>Firmar Funcionario Responsable</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.idMovimientos</td>
                            <td>@item.Evento</td>
                            <td>@item.FechaMovimiento.ToString("dd/MM/yyyy")</td>
                            <td>@item.Cedula</td>
                            <td>@item.NombreCompleto</td>
                            <td>@item.Placa</td>
                            <td>@item.Serial</td>
                            <td>
                                @if (item.idFuncionarioEncargado > 0)
                                {
                                    <button class="btn btn-primary open-signature-modal-funcionario"
                                            data-idfuncionario="@item.idFuncionarioEncargado"
                                            data-idmovimientos="@item.idMovimientos">
                                        Firma Entrega Funcionario
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-secondary" disabled>No disponible</button>
                                }
                            </td>
                        </tr>

                        <!-- Overlay -->
                        <div id="rotate-device-overlay">
                            <div>
                                <h1>Por favor, gira tu dispositivo a modo horizontal para firmar</h1>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="signatureModalFuncionario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="signatureModalLabel">Firma</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <canvas id="signature-pad-funcionario" style="border: 1px solid #000; width: 400px; height: 200px;"></canvas>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-danger" id="clear-funcionario">Limpiar</button>
                                        <button type="button" class="btn btn-success" id="save-funcionario">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section script {
    <script>
        var signaturePadFuncionario;

        document.addEventListener('DOMContentLoaded', function () {
            initializeSignaturePad();
            setupEventListeners();
        });

        function initializeSignaturePad() {
            var canvasFuncionario = document.getElementById('signature-pad-funcionario');
            signaturePadFuncionario = new SignaturePad(canvasFuncionario);
        }

        function setupEventListeners() {
            // Seleccionar todos los botones de firma y agregarles el evento de click
            document.querySelectorAll('.open-signature-modal-funcionario').forEach(button => {
                button.addEventListener('click', function () {
                    var idFuncionario = button.getAttribute('data-idfuncionario');
                    var idMovimientos = button.getAttribute('data-idmovimientos');
                    openSignatureModalF(idFuncionario, idMovimientos);
                });
            });

            window.addEventListener('resize', handleWindowResize);

            $('#signatureModalFuncionario').on('shown.bs.modal', function () {
                resizeCanvas();
                signaturePadFuncionario.clear();
                checkOrientation();
            });

            document.getElementById('clear-funcionario').addEventListener('click', clearSignaturePadF);

            // Aquí ajustamos el botón "Guardar" para que obtenga idFuncionario y idMovimientos desde el modal.
            document.getElementById('save-funcionario').addEventListener('click', function () {
                saveSignatureF();
            });
        }

        function openSignatureModalF(idFuncionario, idMovimientos) {
            $('#signatureModalFuncionario').data('idfuncionario', idFuncionario);
            $('#signatureModalFuncionario').data('idmovimientos', idMovimientos);
            $('#signatureModalFuncionario').modal('show');
            checkOrientation();
        }

        function resizeCanvas() {
            var ratio = Math.max(window.devicePixelRatio || 1, 1);
            var canvas = document.getElementById('signature-pad-funcionario');
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);
        }

        function checkOrientation() {
            if (window.innerHeight > window.innerWidth) {
                document.getElementById('rotate-device-overlay').style.display = 'flex';
            } else {
                document.getElementById('rotate-device-overlay').style.display = 'none';
            }
        }

        function handleWindowResize() {
            if ($('#signatureModalFuncionario').is(':visible')) {
                resizeCanvas();
                checkOrientation();
            }
        }

        function clearSignaturePadF() {
            signaturePadFuncionario.clear();
        }

        function saveSignatureF() {
            // Obtener idFuncionario e idMovimientos directamente del modal
            var idFuncionario = $('#signatureModalFuncionario').data('idfuncionario');
            var idMovimientos = $('#signatureModalFuncionario').data('idmovimientos');

            if (signaturePadFuncionario.isEmpty()) {
                alert('Debe agregar una firma antes de guardar.');
            } else {
                var dataURL = signaturePadFuncionario.toDataURL();

                $.ajax({
                    url: '@Url.Action("SaveSignatureFuncionario", "Pendientes")',
                    type: 'POST',
                    data: {
                        idFuncionario: idFuncionario,
                        idMovimientos: idMovimientos,
                        dataURL: dataURL
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#signatureModalFuncionario').modal('hide');
                            $('#successMensajeFirmaFunc').text('Se agregó correctamente la firma de funcionario ' + idFuncionario).show();
                            updateTableRow(idMovimientos, response);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Error en la solicitud AJAX.');
                    }
                });
            }
        }
        function updateTableRow(idMovimientos, response) {
            var row = $('#MovimientosTable tbody tr').filter(function () {
                return $(this).find('td').eq(0).text() == idMovimientos;
            });

            if (row.length) {
                row.find('td').eq(7).html('<button class="btn btn-success" disabled>Firmado</button>');
            }
        }
    </script>

}
