@model List<FuncionarioModel>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
        Lista de Funcionarios
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Funcionarios" class="btn btn-success">Crear Funcionario</a>
        <hr />

        <div class="table-responsive">
        <table id="funcionarioTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Area</th>
                    <th>Cargo</th>
                    <th>Piso</th>
                    <th>Editar - Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Cedula</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellidos</td>
                        <td>@item.Telefono</td>
                        <td>@item.Correo</td>
                        <td>@item.Area</td>
                        <td>@item.Cargo</td>
                        <td>@item.Piso</td>
                        <td>
                                @if(item.Estado == 1)
                                {
                                    <a asp-action="Editar" asp-controller="Funcionarios" class="btn btn-primary btn-sm" asp-route-idFuncionario="@item.idFuncionario">Editar</a>
                                    <a asp-action="Eliminar" asp-controller="Funcionarios" class="btn btn-danger btn-sm" asp-route-idFuncionario="@item.idFuncionario">Eliminar</a>
                                }@if (item.Estado == 0)
                                {
                                    <div class="alert alert-primary" role="alert" style="height:100%; width:100%; padding: 2px; margin: 0;">
                                        Desactivado
                                    </div>
                                }

                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>

