@model IEnumerable<gestionactivos.Models.DevolucionModel>

<h1>Devolucion</h1>
<link href="~/css/site.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <form method="post" action="@Url.Action("Devolucion", "Devolucion")">
                <label for="Cedula">Cédula Funcionario</label>
                <input name="cedula" type="text" class="form-control" />
                <br />
                <button type="submit" class="btn btn-primary">Consultar Cédula</button>
            </form>
        </div>
    </div>
    <div id="message-container"></div>
</div>
<br />
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
@{
    var funcionarios = ViewBag.Funcionarios as List<gestionactivos.Models.DevolucionModel>;
}
@if (funcionarios != null)
{
    <div class="table-responsive">
        <table id="DevolucionTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Encargado Cedula</th>
                    <th>Encargado Nombres</th>
                    <th>Encargado Apellidos</th>
                    <th>Encargado Correo</th>
                    <th>Responsable Cedula</th>
                    <th>Responsable Nombre</th>
                    <th>Responsable Apellido</th>
                    <th>Responsable Correo</th>
                    <th>Fecha Movimiento</th>
                    <th>id Articulo</th>
                    <th>Categoria Articulo</th>
                    <th>Modelo Articulo</th>
                    <th>Serial Articulo</th>
                    <th>Placa Articulo</th>
                    <th>Devolver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var articuloGroup in funcionarios.GroupBy(m => m.idArticulo))
                {
                    var articulo = articuloGroup.First();

                    <tr data-id="@articulo.idArticulo">
                        <td>@articulo.EncargadoCedula</td>
                        <td>@articulo.EncargadoNombres</td>
                        <td>@articulo.EncargadoApellidos</td>
                        <td>@articulo.EncargadoCorreo</td>
                        <td>@articulo.ResponsableCedula</td>
                        <td>@articulo.ResponsableNombre</td>
                        <td>@articulo.ResponsableApellido</td>
                        <td>@articulo.ResponsableCorreo</td>
                        <td>@articulo.FechaMovimiento?.ToString("yyyy-MM-dd")</td>
                        <td>@articulo.idArticulo</td>
                        <td>@articulo.CategoriaArticulo</td>
                        <td>@articulo.ModeloArticulo</td>
                        <td>@articulo.SerialArticulo</td>
                        <td>@articulo.PlacaArticulo</td>

                        <td>
                            <button type="button" class="btn btn-danger devolver-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#DevolverEquipo"
                                    data-idfuncionario="@articulo.EncargadoIdFuncionario"
                                    data-idfuncionariocontra="@articulo.ResponsableIdFuncionario"
                                    data-idarticulo="@articulo.idArticulo"
                                    data-idmovimiento="@articulo.idMovimientos">
                                Devolver
                            </button>
                        </td>
                    </tr>

                    <tr data-id="@articulo.idAdicional">
                        
                        <td colspan="14">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped">
                                    <thead>
                                        <tr>
                                            <th>id Adicional</th>
                                            <th>Categoria Adicional</th>
                                            <th>Modelo Adicional</th>
                                            <th>Serial Adicional</th>
                                            <th>Placa Adicional</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var adicional in articuloGroup)
                                        {
                                            <tr>
                                                <td>@adicional.idAdicional</td>
                                                <td>@adicional.CategoriaAdicional</td>
                                                <td>@adicional.ModeloAdicional</td>
                                                <td>@adicional.SerialAdicional</td>
                                                <td>@adicional.PlacaAdicional</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="DevolverEquipo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="devolverEquipoLabel">Devolver Equipo</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="comentarios" class="form-label">Comentarios:</label>
                                        <textarea class="form-control" id="comentarios" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-danger" id="confirmarDevolucion">
                                        Devolver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="modal fade" id="DevolverDetalle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="devolverDetalleLabel">Devolver Detalle</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="devolverDetalleBody">
                                   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="rotate-device-overlay">
                        <div>
                            <h1>Por favor, gira tu dispositivo a modo horizontal para firmar</h1>
                        </div>
                    </div>
                    <div id="alert-container"></div>
                }
            </tbody>
        </table>
    </div>
}

@section script{
    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
            function checkOrientation() {
                // Detectar si la altura es mayor que el ancho (modo vertical)
                if (window.innerHeight > window.innerWidth) {
                    // Mostrar el overlay
                    document.getElementById('rotate-device-overlay').style.display = 'flex';
                } else {
                    // Ocultar el overlay
                    document.getElementById('rotate-device-overlay').style.display = 'none';
                }
            }

            // Comprobar la orientación al cargar la página
            checkOrientation();

            // Comprobar la orientación cada vez que el tamaño de la ventana cambia
            window.addEventListener('resize', checkOrientation);

            let signaturePad;

            const devolverButtons = document.querySelectorAll('button[data-bs-toggle="modal"]');

            devolverButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const idMovimientos = this.getAttribute('data-idmovimiento');
                    const modalTitle = document.getElementById('devolverEquipoLabel');
                    modalTitle.textContent = `Devolver Equipo - ID: ${idMovimientos}`;

                    const row = this.closest('tr');
                    // const encargadoId = row.querySelector('td:nth-child(1)').textContent;
                    
                    // const responsableId = row.querySelector('td:nth-child(5)').textContent;

                    const encargadoId = $(this).data('idfuncionario');
                    const responsableId = $(this).data('idfuncionariocontra');

                    const modalBody = document.querySelector('.modal-body');
                    modalBody.innerHTML = `
                            <p>¿Está seguro de que desea devolver el equipo?</p>
                            <div class="mb-3">
                                <label for="comentarios" class="form-label">Comentarios:</label>
                                <textarea class="form-control" id="comentarios" rows="3"></textarea>
                            </div>
                        `;

                    if (encargadoId) {
                        const buttonEncargado = document.createElement('button');
                        buttonEncargado.className = 'btn btn-primary me-2';
                        buttonEncargado.textContent = `Firma Encargado `;
                        buttonEncargado.onclick = function () {
                            abrirSegundoModal(idMovimientos, encargadoId, 'Encargado');
                        };
                        modalBody.appendChild(buttonEncargado);
                    }

                    if (responsableId) {
                        const buttonResponsable = document.createElement('button');
                        buttonResponsable.className = 'btn btn-warning';
                        buttonResponsable.textContent = `Firma Responsable `;
                        buttonResponsable.onclick = function () {
                            abrirSegundoModal(idMovimientos, responsableId, 'Responsable');
                        };
                        modalBody.appendChild(buttonResponsable);
                    }
                });
            });

            function abrirSegundoModal(idMovimientos, funcionarioId, tipoFuncionario) {
                const modalTitle = document.getElementById('devolverDetalleLabel');
                modalTitle.textContent = `Devolver Detalle - ID Movimiento: ${idMovimientos}`;

                const modalBody = document.getElementById('devolverDetalleBody');
                modalBody.innerHTML = `
                        <div class="mb-3">
                            <canvas id="signatureCanvas" width="400" height="200" style="border:1px solid #000;"></canvas>
                        </div>
                        <button type="button" class="btn btn-secondary" id="clearCanvas">Limpiar Firma</button>
                        <button type="button" class="btn btn-primary" id="saveSignature">Guardar Firma</button>
                    `;

                // Inicializar Signature Pad
                const canvas = document.getElementById('signatureCanvas');
                signaturePad = new SignaturePad(canvas);

                // Botón para limpiar la firma
                const clearButton = document.getElementById('clearCanvas');
                clearButton.addEventListener('click', () => {
                    signaturePad.clear();
                });

                // Botón para guardar la firma
                const saveButton = document.getElementById('saveSignature');
                saveButton.addEventListener('click', () => {
                    guardarFirma(funcionarioId);
                });

                // Mostrar el segundo modal
                const devolverDetalleModal = new bootstrap.Modal(document.getElementById('DevolverDetalle'));
                devolverDetalleModal.show();
            }

            function guardarFirma(funcionarioId) {
                if (signaturePad.isEmpty()) {
                    alert("Por favor, firme en el recuadro.");
                    return;
                }

                const dataURL = signaturePad.toDataURL();

                // Enviar la firma al servidor
                $.ajax({
                    url: '@Url.Action("SaveSignatureFuncionario", "Devolucion")',
                    type: 'POST',
                    data: {
                        CedulaFuncionario: funcionarioId,
                        dataURL: dataURL
                    },
                    success: function (response) {
                        // Eliminar cualquier alerta anterior
                        $('#devolverDetalleBody .alert').remove();

                        let alertType = response.success ? 'alert-success' : 'alert-danger';
                        let alertMessage = response.success ?
                            'Firma guardada exitosamente.' :
                            `Error al guardar la firma: ${response.message}`;

                        // Crear el mensaje de alerta
                        const alertHtml = `
                        <div class="alert ${alertType} alert-dismissible fade show" role="alert">
                            ${alertMessage}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    `;

                        // Agregar la alerta al cuerpo del modal
                        $('#devolverDetalleBody').prepend(alertHtml);
                    },
                    error: function () {
                        // Eliminar cualquier alerta anterior
                        $('#devolverDetalleBody .alert').remove();

                        // Crear el mensaje de alerta de error
                        const alertHtml = `
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Error en la solicitud de guardado de firma.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    `;

                        // Agregar la alerta al cuerpo del modal
                        $('#devolverDetalleBody').prepend(alertHtml);
                    }
                });
            }

        });
        $(document).ready(function () {
            // Evento para capturar el clic en el botón "Devolver"
            $('.devolver-btn').on('click', function () {
                // Obtener los valores de los atributos data-*
                const idFuncionario = $(this).data('idfuncionario');
                const idFuncionarioContra = $(this).data('idfuncionariocontra');



                const idArticulo = $(this).data('idarticulo');
                const idMovimiento = $(this).data('idmovimiento');

                // Asignar estos valores a variables globales o utilizarlas directamente en la función de confirmación
                $('#confirmarDevolucion').data('idfuncionario', idFuncionario);
                $('#confirmarDevolucion').data('idfuncionariocontra', idFuncionarioContra);
                $('#confirmarDevolucion').data('idarticulo', idArticulo);
                $('#confirmarDevolucion').data('idmovimiento', idMovimiento);
            });
            $('#confirmarDevolucion').on('click', function () {
                // Obtener los valores de los atributos data-* establecidos en el clic anterior
                const idFuncionario = $(this).data('idfuncionario');
                const idFuncionarioContra = $(this).data('idfuncionariocontra');
                const idArticulo = $(this).data('idarticulo');
                const idMovimiento = $(this).data('idmovimiento');
                const observacion = $('#comentarios').val();

                // Realizar la solicitud AJAX al servidor
                $.ajax({
                    url: '@Url.Action("DevolverEquipo", "Devolucion")',
                    type: 'POST',
                    data: {
                        idFuncionario: idFuncionario,
                        idFuncionarioContra: idFuncionarioContra,
                        idArticulo: idArticulo,
                        idMovimiento: idMovimiento,
                        Observacion: observacion
                    },
                    success: function (response) {
                        if (response.success) {
                            // Mostrar un mensaje de éxito
                            $('#alert-container').html('<div class="alert alert-success">Devolución registrada correctamente.</div>');

                            // Eliminar la fila del movimiento correspondiente
                            // const movimientoRow = $(`#DevolucionTable tr[data-id="${idMovimiento}"]`);
                            // movimientoRow.remove();

                            // // Eliminar la fila de adicionales correspondiente al movimiento
                            // const filaAdicionales = $(`#DevolucionTable tr[data-id="${idArticulo}"]`); // Cambiar aquí según sea necesario
                            // filaAdicionales.remove(); // Elimina la fila de adicionales

                            // // Cerrar el modal después de un breve tiempo
                            // setTimeout(() => {
                            //     $('#DevolverEquipo').modal('hide');
                            // }, 2000);
                            $('#DevolucionTable tr[data-id="' + idArticulo + '"]').next().remove(); // Eliminar la fila de detalles
                            $('#DevolucionTable tr[data-id="' + idArticulo + '"]').remove(); // Eliminar la fila principal

                            // Verificar si quedan filas en la tabla
                            if ($('#DevolucionTable tbody tr').length === 0) {
                                $('#DevolucionTable').remove(); // Eliminar la tabla
                            }
                            $('#DevolverEquipo').modal('hide');
                        } else {
                            // Mostrar un mensaje de error en caso de fallo
                            $('#alert-container').html(`<div class="alert alert-danger">${response.errorMessage}</div>`);
                        }
                    },
                    error: function () {
                        // Mostrar un mensaje genérico de error
                        $('#alert-container').html('<div class="alert alert-danger">Ocurrió un error al procesar la devolución.</div>');
                    }
                });
            });


        });

    </script>


}